<ion-grid>
  <ion-row>
    <div class="btnAdd showedBtn" (click)="newP()">
      <div class="btnAdd2">
        <ion-icon style="font-size: 32px;" name="add"></ion-icon>
      </div>
    </div>
    <ion-col class="showedCard" size-xs="12" size-sm="6" size-md="4" size-lg="4" size-xl="3" >
      <ion-card style="max-height:335px;height:335px;">
        <div style="height: 100%;display: table;width: 100%;" (click)="newP()">
          <div style="display: table-cell;vertical-align: middle;text-align: center;">
              <ion-icon slot="icon-only" name="add-circle" style="height: 50%;width: 30%;"></ion-icon>
          </div>
        </div>
      </ion-card>
    </ion-col>


    <ion-col size-xs="12" size-sm="6" size-md="4" size-lg="4" size-xl="3" *ngFor ="let item of proveedor">
      <ion-card style="max-height:335px;height:335px;cursor: pointer;" (click)="viewMenu(item.id)">
        <ion-card-header>
          <div class="divImgRestaurante">
            <img *ngIf="item.src !=undefined" [src]="item.src" class="imageRestaurant">
            <div class="btnsRestaurante">
              <ion-button (click)="edit(item.id)"  mode="ios" size="small" color="noColor" class="btnEditRestaurante">
                <ion-icon slot="icon-only" name="create"></ion-icon>
              </ion-button>
              <ion-button (click)="delete(item.id)"  mode="ios" size="small" color="noColor" class="btnRemoveRestaurante">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
            </div>
          </div>
          <ion-card-subtitle>{{item.nombre}}</ion-card-subtitle>
          <ion-card-title class="titleDivProveedor">{{item.nombre}}</ion-card-title>
        </ion-card-header>
  
        <ion-card-content class="descripcionProveedor">
          {{item.descripcion}}
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
<button (click)='logout()'>asdada</button>
