.imageRestaurant{
  max-width: 100%;
  height: 150px;
  object-fit: cover;
}
.divImgRestaurante{
  position: relative;
}
.divImgRestaurante:hover{
  .btnEditRestaurante{
    opacity: 1;
  }  
}
.btnsRestaurante{
  position: absolute;
  bottom: 0;
  right: 0;
}
.btnEditRestaurante{
  opacity: 0.7;
  font-size: 9px;
  width: 32px;
}
.btnRemoveRestaurante{
  opacity: 0.7;
  font-size: 9px;
  width: 32px;
}
.descripcionProveedor{
  // white-space: nowrap;
  // width: 12em;
  // overflow: hidden;
  // text-overflow: ellipsis;
}

.titleDivProveedor{
  font-family: 'Helvetica-Bold' !important;
}