<ion-header>
  <ion-toolbar color="dark">
    <ion-title text-center>Registro de Usuario</ion-title>
    <ion-button slot="end" color="dark" (click)="CloseModal()"><ion-icon name="close"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <form #form2="ngForm" (ngSubmit)="signIn(form2)">
      <ion-grid>
        <ion-row>          
          <!-- Informacion principal proveedor -->
          <!-- <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12" >
            <legend><h4>Datos Generales</h4></legend>
          </ion-col> -->

          <!-- <ion-item-divider color="medium">
            <ion-label style="font-size:x-large">
              Datos Generales
            </ion-label>
          </ion-item-divider> -->
      
          <ion-col size-xs="4" size-sm="4" size-md="4" size-lg="4" size-xl="4" >
            <ion-item>
              <ion-label position="floating">Nombre(s)</ion-label>
              <ion-input class="mayus" required name="nombre" ngModel #nombre="ngModel" ></ion-input>
            </ion-item>           
          </ion-col>
          <ion-col size-xs="4" size-sm="4" size-md="4" size-lg="4" size-xl="4" >
            <ion-item>
              <ion-label position="floating">Apellido Paterno</ion-label>
              <ion-input class="mayus" required name="apellidoPaterno" ngModel #apellidoPaterno="ngModel"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-xs="4" size-sm="4" size-md="4" size-lg="4" size-xl="4" >
            <ion-item>
              <ion-label position="floating">Apellido Materno</ion-label>
              <ion-input class="mayus" required name="apellidoMaterno" ngModel #apellidoMaterno="ngModel"></ion-input>
            </ion-item>            
          </ion-col>
          <ion-col size-xs="4" size-sm="4" size-md="4" size-lg="4" size-xl="4" >
              <ion-item>
                <ion-label position="floating">Usuario</ion-label>
                <ion-input name="usuario" ngModel #usuario="ngModel" required></ion-input>
              </ion-item>              
            </ion-col>
          <!-- <ion-col size-xs="4" size-sm="4" size-md="4" size-lg="4" size-xl="4" >
            <ion-item>
              <ion-label position="floating">Nombre Corto</ion-label>
              <ion-input></ion-input>
            </ion-item>              
          </ion-col> -->
          <ion-col size-xs="4" size-sm="4" size-md="4" size-lg="4" size-xl="4" >
            <ion-item>
              <ion-label position="floating">Correo Electrónico</ion-label>
              <ion-input (keyup)="lower($event, form2.value.correo)" required name="correo" ngModel #correo="ngModel"></ion-input>
            </ion-item>              
          </ion-col>
          <ion-col size-xs="4" size-sm="4" size-md="4" size-lg="4" size-xl="4" >
            <ion-item>
              <ion-label position="floating">Teléfono</ion-label>
              <ion-input type="number" name="telefono" ngModel #telefono="ngModel" pattern="\d{8,10}" required></ion-input>
            </ion-item>              
          </ion-col>
          <!-- <ion-col size-xs="4" size-sm="4" size-md="4" size-lg="4" size-xl="4" >
            <ion-item>
              <ion-label position="floating">Domicilio</ion-label>
              <ion-input class="mayus" required name="domicilio" ngModel #domicilio="ngModel"></ion-input>
            </ion-item>            
          </ion-col>
          <ion-col size-xs="4" size-sm="4" size-md="4" size-lg="4" size-xl="4" >
            <ion-item>
              <ion-label position="floating">Ciudad</ion-label>
              <ion-input class="mayus" required name="ciudad" ngModel #ciudad="ngModel"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-xs="4" size-sm="4" size-md="4" size-lg="4" size-xl="4" >
            <ion-item>
              <ion-label position="floating">Estado</ion-label>
              <ion-input class="mayus" required name="estado" ngModel #estado="ngModel"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size-xs="4" size-sm="4" size-md="4" size-lg="4" size-xl="4" >
            <ion-item>
              <ion-label position="floating">Código Postal</ion-label>
              <ion-input type="number" min="0" name="cp" pattern="\d{5,8}" required ngModel #cp="ngModel"></ion-input>
            </ion-item>
          </ion-col> -->
        </ion-row>
        <ion-row style="margin-top:20px">
          <ion-col size-xs="12" text-right>
            <ion-button type="submit" shape="round" color="dark" [disabled]="!form2.valid">Registrar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
</ion-content>
