<ion-header>
  <ion-toolbar>
    <ion-title>chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="overflow: hidden;">
  <div style="overflow: hidden;height: 100%;padding: 0 0 25px 0;">
    <!-- Con el #scrollMe [scrollTop]="scrollMe.scrollHeight" automaticamente va hacia abajo cuando hay un cambio
          en el ngfor -->
    <div id="div" style="overflow-y: scroll;height: 100%;" #scrollMe  [scrollTop]="items.length === 0 ? 0 : scrollMe.scrollHeight">
        <div class="chat-container" *ngFor="let item of items">
          <a href="#">{{item.name}}</a>
          <p>{{item.message}}</p>
        </div>
      </div>   
  </div>
  <input class="chat-input" type="text" id="message" placeholder="Chat here..." (keyup.enter)="chatSend($event.target.value)" [(ngModel)]="msgVal" />
</ion-content>
