<ion-content>  
  <div style="text-align: -webkit-center; margin-top: 50px;">
    <ion-grid>
      <ion-row justify-content-center align-items-center>
          <ion-col size-xs="12" size-sm="6" size-md="6" size-lg="6" size-xl="4" >
            <ion-card>
              <ion-card-content>  
                <ion-grid>
                  <ion-row>
                    <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12" text-center>
                      <ion-icon style="width:110px;height: 110px;" src="../assets/icon/fast-food.svg"></ion-icon>
                    </ion-col>
                    <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12" >
                      <ion-item>
                        <ion-label position="floating">
                          <ion-icon name="mail" color="primary"></ion-icon> Email
                        </ion-label>
                        <ion-input [(ngModel)]='email' clearInput (keydown.enter)="SignIn()"></ion-input>
                      </ion-item>
                    </ion-col>

                    <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
                      <ion-item>
                        <ion-label position="floating">
                            <ion-icon name="unlock" color="primary" ></ion-icon> Contraseña
                          </ion-label>
                        <ion-input [(ngModel)]='pass' type="Password" clearInput (keydown.enter)="SignIn()"></ion-input>
                      </ion-item>
                    </ion-col>
                    
                    <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
                      <ion-button expand="full" color="primary" (click)="SignIn()">        
                        Entrar
                      </ion-button>
                    </ion-col>
                    <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="6" size-xl="6" text-left>
                      <a style="cursor: pointer;" (click)="OpenModal()">Registrate</a>
                    </ion-col>
                    <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="6" size-xl="6" text-right>
                      <a style="cursor: pointer;" (click)="forgotPassword()">Reestablecer contraseña</a>
                    </ion-col>
                    <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12" text-center>
                      <span class="or"><span class="orInner">O</span></span>
                    </ion-col>
                    <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="6" size-xl="6" text-center>
                      <ion-button style="width:100%;" color="googleColor" (click)="signUpGoogle()">Google</ion-button>
                    </ion-col>
                    <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="6" size-xl="6" text-center>
                      <ion-button style="width:100%;" color="facebookColor" (click)="signUpFacebook()">Facebook</ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
