.divTopBarView{
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #cacaca;
}
.divMiddle{
  // max-height: 428px;
  // overflow-y: scroll;
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
}

