<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- <ion-tab-button tab="proveedor">
      <ion-icon src="../assets/dish.svg"></ion-icon>
      <ion-label>Proveedor</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="shop">
      <ion-icon src="../assets/shop.svg"></ion-icon>
      <ion-label>Tienda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" *ngIf="access">
      <ion-icon src="../assets/icon/clock.svg"></ion-icon>
      <ion-label>Historial</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="settings">
      <ion-icon src="../assets/icon/settings.svg"></ion-icon>
      <ion-label>Configuración</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="chat">
        <ion-icon src="../assets/icon/settings.svg"></ion-icon>
        <ion-label>Chat</ion-label>
      </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
