<div style="border-bottom: 1px solid #cacaca;">
  <ion-button color="noColor" mode="ios" size="small" (click)="myDismiss()">
    <ion-icon slot="icon-only" name='close'></ion-icon>
  </ion-button>
</div>
<ion-content class="view">
  <div class="inView">
    <div class="bodyView">
      
      <!-- <ion-item>
        <ion-label>Seleccione</ion-label>
        <ion-select okText="Okay" cancelText="Dismiss">
          <ion-select-option value="item.id" *ngFor="let item of ingrediente">{{item.nombre}}</ion-select-option>
        </ion-select>
      </ion-item> -->
      <!-- <select [(ngModel)]="select">
        <option *ngFor="let item of ingrediente" [ngValue]="item.id">
          {{item.nombre}}
        </option>
      </select>
      <label>{{select}}</label>
      <button (click)="select=''">Select</button> -->
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
          <h1>{{proveedor?.nombre}}</h1>
        </ion-col>
        
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
          <h3>Ingredientes extras</h3>
          <!-- <select [(ngModel)]="select" (change)="addIngredient($event)">
            <option value=''></option>
            <option *ngFor="let item of ingrediente"  [ngValue]="item">
              {{item.nombre}}
            </option>
          </select> -->
          
          <button (click)="res()">reset</button>
        </ion-col>
        <ion-col *ngFor="let item of addedIngredient" size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
          <p>{{item.nombre}}</p><p (click)="removeIngredient(item)">x</p>
        </ion-col>
        <ion-col  size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
          <h3>Instrucciones especiales</h3>
          <ion-textarea style="background: gray;"></ion-textarea>
        </ion-col>
      </ion-row>

      <!-- <ion-row>
        <ion-col *ngFor="let item of ingrediente" size-xs="6" size-sm="6" size-md="6" size-lg="6" size-xl="6">
          <ion-item >
            <h3>Ingredientes extras</h3>
            <ion-label>{{item.nombre}}</ion-label>
            <ion-checkbox slot="start" ></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row> -->
      
      <!-- <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
          <ion-item>
            <h3>Instrucciones especiales</h3>
            <ion-textarea placeholder="Enter more information here..."></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row> -->
      
    </div>
    <div class="bottomView" style="display: flex;">
      <div class="buttonsBottomView">
        <button color="primary" size="small" class="btnRound" (click)="remove()">
            <ion-icon slot="icon-only" name="remove"></ion-icon>
        </button>
        <div class="amount">{{contador}}</div>
        <button color="primary" size="small" class="btnRound" (click)="add()">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </button>
      </div>
      <div class="buttonCartBottomView">
        <button class="btnCart">
          <div style="display: block;width: 100%;text-align: center;">
            <div style="text-align: center;">
                Agregar al carrito 
                <div class="totalCart">{{formaterPrice(total)}}</div>
            </div>
          </div>
          
        </button>
      </div>
    </div>
  </div>
  
</ion-content>
