<div style="border-bottom: 1px solid #cacaca;">
  <ion-button color="noColor" mode="ios" size="small" (click)="myDismiss()">
    <ion-icon slot="icon-only" name='close'></ion-icon>
  </ion-button>
</div>
<ion-content class="view">
  <div class="inView">
    <div class="bodyView">
      <h1>{{proveedor?.nombre}}</h1>
      <ion-item>
        <ion-label>Seleccione</ion-label>
        <ion-select okText="Okay" cancelText="Dismiss">
          <ion-select-option value="item.id" *ngFor="let item of ingrediente">{{item.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
      <select [(ngModel)]="select">
        <option *ngFor="let item of ingrediente" [ngValue]="item.id">
          {{item.nombre}}
        </option>
      </select>
      <label>{{select}}</label>
      <button (click)="select=''">Select</button>
    </div>
    <div class="bottomView" style="display: flex;">
      <div class="buttonsBottomView">
        <button color="primary" size="small" class="btnRound" (click)="remove()">
            <ion-icon slot="icon-only" name="remove"></ion-icon>
        </button>
        <div class="amount">{{contador}}</div>
        <button color="primary" size="small" class="btnRound" (click)="add()">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </button>
      </div>
      <div class="buttonCartBottomView">
        <button class="btnCart">
          <div style="display: block;width: 100%;text-align: center;">
            <div style="text-align: center;">
                Agregar al carrito 
                <div class="totalCart">{{formaterPrice(total)}}</div>
            </div>
          </div>
          
        </button>
      </div>
    </div>
  </div>
  
</ion-content>
