<div class="divImg" style="background-image: url(https://goo.gl/jhsD4G);">
  <!-- <img style="width:100%; object-fit: cover;" src='../../../assets/img/pizza.jpg'> -->
  <div class="divDescOut">
    <div class="divDesc">
        <h1 class="h1Title">{{proveedor?.nombre}}</h1>
        <div>
          <div>Telefono: {{proveedor?.telefono}}</div>
          <div>{{proveedor?.direccion}} {{proveedor?.cp}} {{proveedor?.ciudad}} {{proveedor?.estado}}</div>
          <div>{{proveedor?.descripcion}}</div>
        </div>
      </div>
  </div>
</div>
<div>

</div>
<div class="divInferior">
  <div class="divMenu">
    <ion-row>
      <!-- <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="6" 
        *ngFor ="let item of proveedor?.menu"
        (click)="openModal(item.id)"
      >
        <div class="divFood" >
            style="width:100%;max-height:335px;height:335px;"
          <div class="divInfoFood">
            <div class="titleFood">{{item.nombre}}</div>
            <div class="priceFood">
              <span>{{formaterPrice(item.precio)}}</span>
            </div>
          </div>
          style="background-image: url('../../../assets/img/pizza.jpg');"
          <div class="divImgFood" style="background-image: url(https://goo.gl/jhsD4G);"></div>
        </div>
      </ion-col> -->
      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12" 
      >
      <div style="margin-bottom: 24px;" *ngFor ="let menu of clasifMenu">
        <div style="padding: 32px 0 40px 0;box-sizing: border-box;">
          <h2 style="line-height: 26px;font-size: 22px;color: #262626;margin: 0;-webkit-font-smoothing: antialiased;letter-spacing: -.02em;">{{menu.clasificacion}}</h2>
        </div>
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="6" 
            *ngFor ="let item of menu.menu"
            (click)="openModal(item.id)"
          >
            <div class="divFood" >
              <div class="divInfoFood">
                <div class="titleFood">{{item.nombre}}</div>
                <div class="priceFood">
                  <span>{{formaterPrice(item.precio)}}</span>
                </div>
              </div>
              <div class="divImgFood" style="background-image: url(https://goo.gl/jhsD4G);"></div>
            </div>
          </ion-col>
        </ion-row>
      </div>
      </ion-col>
    </ion-row>
  </div>
  <div class="divPedido"></div>
</div>
