<div class="divImg" style="background-image: url(https://goo.gl/jhsD4G);">
  <!-- <img style="width:100%; object-fit: cover;" src='../../../assets/img/pizza.jpg'> -->
  <div class="divDescOut">
    <div class="divDesc">
        <h1 class="h1Title">{{proveedor?.nombre}}</h1>
        <div>
          <div >
            <a style="text-decoration: none;" href="tel:{{proveedor?.telefono}}">{{proveedor?.telefono | formaterPhone}}</a>
          </div>
          <div>{{proveedor?.direccion | formaterAddress:proveedor?.cp:proveedor?.ciudad:proveedor?.estado }}</div>
          <div>{{proveedor?.descripcion}}</div>
        </div>
      </div>
  </div>
</div>
<div>

</div>
<div class="divInferior">
  <div class="divMenu">
    <ion-row>
      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12" 
      >
      <div style="margin-bottom: 24px;" *ngFor ="let menu of clasifMenu">
        <div style="padding: 32px 0 40px 0;box-sizing: border-box;">
          <h2 class="titleClasificacion">{{menu.clasificacion}}</h2>
        </div>
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="6" 
            *ngFor ="let item of menu.menu"
            (click)="openModal(item.id)"
          >
            <div class="divFood" >
              <div class="divInfoFood">
                <div class="titleFood">{{item.nombre}}</div>
                <div class="priceFood">
                  <span>{{item.precio | formaterPrice}}</span>
                </div>
              </div>
              <div class="divImgFood" style="background-image: url(https://goo.gl/jhsD4G);"></div>
            </div>
          </ion-col>
        </ion-row>
      </div>
      </ion-col>
    </ion-row>
  </div>
  <div class="divPedido" id="pedido" >
    <div >
      <div style="transform: translateZ(0px);max-height: calc(100vh - 138px);">
        <div style="box-sizing: border-box;background-color: #FFFFFF;overflow: hidden;box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 25px 0px;width: 378px;margin: 24px;border-radius: 4px;font-size: 20px;">
            <div class="divTop">
              <div class="divButtonRevisar">Finalizar</div>
            </div>
      
            <div class="divMiddle">
              <div *ngFor="let item of cart; let i = index">
                <div class="divPedidoFood" style="padding: 16px 24px;justify-content: space-around;-webkit-box-pack: justify;">
                  <div class="divQuantityFood">
                    {{item.cantidad}}
                  </div>  
                  <div class="divNameFood">
                    <div class="divNameFoodIn">{{item.comida}}</div>
                    <button class="btnRemoveFood" (click)="removeFoodCart(i)">Eliminar</button>
                  </div>
                  <div class="divTotalFood">{{item.total | formaterPrice }}</div>
                  
                </div>
                <!-- <label>{{item.comida}}</label> -->
              </div>
            </div>
      
            <div class="divBottom">
              <ng-container *ngIf="cart.length>0; else elseTemplate">
                  <div style="display:inline-block">Total</div>
                  <div style="float:right;">{{total | formaterPrice}}</div>
              </ng-container>
              <ng-template #elseTemplate>
                  <div style="display:inline-block;width: 100%;text-align: center;">Agrega artículos a tu carrito, y aparecerán aquí.</div>
              </ng-template>
            </div>
        </div>
      </div>

    </div>
    
  </div>
</div>
