<ion-grid>
  <ion-row>
    <alert-component *ngIf="confirmDialogCancel | async"></alert-component>
    <!-- Informacion principal proveedor -->
    <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12" >
      <legend><span class="number">1</span> Información</legend>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6" >
      <ion-input [(ngModel)]='form.nombre' class="inputForm" placeholder="Nombre" ></ion-input>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6" >
      <ion-input [(ngModel)]='form.telefono' class="inputForm" placeholder="Telefono"></ion-input>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6" >
      <ion-input [(ngModel)]='form.direccion' class="inputForm" placeholder="Dirección"></ion-input>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3" >
      <ion-input [(ngModel)]='form.ciudad' class="inputForm" placeholder="Ciudad"></ion-input>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3" >
      <ion-input [(ngModel)]='form.estado' class="inputForm" placeholder="Estado"></ion-input>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3" >
      <ion-input [(ngModel)]='form.cp' class="inputForm" placeholder="Codigo postal"></ion-input>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3" >
      <ion-input [(ngModel)]='form.pagina' class="inputForm" placeholder="Pagina web"></ion-input>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6" >
      <ion-input [(ngModel)]='form.descripcion' class="inputForm" maxlength="150" placeholder="Descripción" ></ion-input>
    </ion-col>

    <!-- Informacion menu -->
    <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12" >
      <legend><span class="number">2</span> Menú</legend>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6" >
      <ion-input [(ngModel)]='formMenu.nombre' class="inputForm" placeholder="Nombre"></ion-input>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6" >
      <ion-input [(ngModel)]='formMenu.clasificacion' class="inputForm" placeholder="Clasificación"></ion-input>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6" >
      <ion-input [(ngModel)]='formMenu.descripcion' class="inputForm" placeholder="Descripcion"></ion-input>
    </ion-col>
    <ion-col style="padding:0;" size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6" >
      <ion-row>
        <ion-col  size-xs="10" size-sm="10" size-md="10" size-lg="10" size-xl="10" >
          <ion-input [(ngModel)]='formMenu.precio' class="inputForm" placeholder="Precio"></ion-input>
        </ion-col>
        <ion-col  size-xs="2" size-sm="2" size-md="2" size-lg="2" size-xl="2">
            <button class="btnAddToTable" (click)="addToTable()">
              <div class="txt">Agregar</div>
              <div class="icon">
                <ion-icon src="../../assets/icon/accept.svg"></ion-icon>
              </div>
            </button>  
        </ion-col>
      </ion-row> 
    </ion-col>
    
    <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12" >
      <table class="tablePlatillos">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Clasificación</th>
            <th>Control</th>
          </tr>
        </thead>
        <tbody> 
          <tr *ngFor ="let item of menu">
            <td style="text-align:center;">
              {{item.nombre}}
            </td>
            <td style="text-align:center;">
              {{item.precio}}
            </td>
            <td style="text-align:center;">
              {{item.clasificacion}}
            </td>
            <td style="text-align:center;">
              <ion-button (click)="removeFood(item.id)" 
                mode="ios" size="small" color="noColor">
                <ion-icon slot="icon-only" name="add"></ion-icon>
              </ion-button>
              <ion-button (click)="removeFood(item.id)" 
                mode="ios" size="small" color="noColor">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
            </td>
          </tr>
        </tbody>
      </table>
    </ion-col>

    <!-- Informacion ingrediente -->
    <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12" >
      <legend><span class="number">3</span> Ingredientes</legend>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6" >
      <ion-input [(ngModel)]='formIngrediente.nombre' class="inputForm" placeholder="Nombre"></ion-input>
    </ion-col>
    <ion-col style="padding:0;" size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6" >
      <ion-row>
        <ion-col  size-xs="10" size-sm="10" size-md="10" size-lg="10" size-xl="10" >
          <ion-input [(ngModel)]='formIngrediente.precio' class="inputForm" placeholder="Precio"></ion-input>
        </ion-col>
        <ion-col  size-xs="2" size-sm="2" size-md="2" size-lg="2" size-xl="2">
            <button class="btnAddToTable" (click)="addToTableIngrediente()">
              <div class="txt">Agregar</div>
              <div class="icon">
                <ion-icon src="../../assets/icon/accept.svg"></ion-icon>
              </div>
            </button>  
        </ion-col>
      </ion-row> 
    </ion-col>
    
    <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12" >
      <table class="tablePlatillos">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Control</th>
          </tr>
        </thead>
        <tbody> 
          <tr *ngFor ="let item of ingrediente">
            <td style="text-align:center;">
              {{item.nombre}}
            </td>
            <td style="text-align:center;">
              {{item.precio}}
            </td>
            <td style="text-align:center;">
              <ion-button (click)="removeFood(item.id)" 
                mode="ios" size="small" color="noColor">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
            </td>
          </tr>
        </tbody>
      </table>
    </ion-col>
    
    

    <!-- Botones de cancelar y guardar -->
    <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12" class="btns">
      <ion-row>
        <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="6" size-xl="6">
          <button class="btnFormCancelar" (click)="cancel()">
              <div class="txt">CANCELAR</div>
              <div class="icon">
                <ion-icon src="../../assets/icon/cancel.svg"></ion-icon>
              </div>
          </button>  
        </ion-col>
        <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="6" size-xl="6">
          <button class="btnForm" (click)="clickSaveEdit()">
              <div class="txt">GUARDAR</div>
              <div class="icon">
                <ion-icon src="../../assets/icon/accept.svg"></ion-icon>
              </div>
          </button>  
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
