<ion-grid>
  <ion-row>
    <alert-component *ngIf="confirmDialogCancel | async"></alert-component>
    <!-- Informacion principal proveedor -->
    <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12" >
      <legend><span class="number">1</span> Información</legend>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6" >
      <ion-input [(ngModel)]='form.nombre' class="inputForm" placeholder="Nombre" ></ion-input>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6" >
      <ion-input [(ngModel)]='form.telefono' class="inputForm" placeholder="Telefono"></ion-input>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6" >
      <ion-input [(ngModel)]='form.direccion' class="inputForm" placeholder="Dirección"></ion-input>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3" >
      <ion-input [(ngModel)]='form.ciudad' class="inputForm" placeholder="Ciudad"></ion-input>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3" >
      <ion-input [(ngModel)]='form.estado' class="inputForm" placeholder="Estado"></ion-input>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3" >
      <ion-input [(ngModel)]='form.cp' class="inputForm" placeholder="Codigo postal"></ion-input>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="3" size-xl="3" >
      <ion-input [(ngModel)]='form.pagina' class="inputForm" placeholder="Pagina web"></ion-input>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6" >
      <ion-input [(ngModel)]='form.descripcion' class="inputForm" maxlength="150" placeholder="Descripción" ></ion-input>
    </ion-col>

    <!-- Informacion principal proveedor -->
    <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12" >
      <legend><span class="number">2</span> Menú</legend>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6" >
      <ion-input [(ngModel)]='formMenu.nombre' class="inputForm" placeholder="Nombre"></ion-input>
    </ion-col>
    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6" >
      <ion-select [(ngModel)]='formMenu.tipo' placeholder="Tipo" class="inputForm">
        <ion-select-option value="mexicana">Mexicana</ion-select-option>
        <ion-select-option value="italiana">Italiana</ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col style="padding:0;" size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6" >
      <ion-row>
        <ion-col  size-xs="4" size-sm="4" size-md="6" size-lg="6" size-xl="6" >
          <ion-select [(ngModel)]='formMenu.tamano' placeholder="Tamaño" class="inputForm">
            <ion-select-option value="chico">Chico</ion-select-option>
            <ion-select-option value="mediano">Mediano</ion-select-option>
            <ion-select-option value="grande">Grande</ion-select-option>
            <ion-select-option value="otro">Otro</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col  size-xs="8" size-sm="8" size-md="6" size-lg="6" size-xl="6" >
          <ion-input [(ngModel)]='formMenu.otroTamano' class="inputForm" placeholder="Otro" disabled></ion-input>
        </ion-col>
      </ion-row> 
    </ion-col> 
    <ion-col style="padding:0;" size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6" >
      <ion-row>
        <ion-col  size-xs="10" size-sm="10" size-md="10" size-lg="10" size-xl="10" >
          <ion-input [(ngModel)]='formMenu.precio' class="inputForm" placeholder="Precio"></ion-input>
        </ion-col>
        <ion-col  size-xs="2" size-sm="2" size-md="2" size-lg="2" size-xl="2">
            <button class="btnAddToTable" (click)="addToTable()">
              Agregar
            </button>  
        </ion-col>
      </ion-row> 
    </ion-col>
    
    <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12" >
      <table class="tablePlatillos">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Medida</th>
            <th>Control</th>
          </tr>
        </thead>
        <tbody> 
          <tr *ngFor ="let item of tabla">
            <td [ngStyle]="{'border-top':item.tipo==='food'?'5px solid rgb(195, 196, 197)':'',
              'border-bottom':item.tipo==='food'?'1px solid rgb(195, 196, 197)':''}"
            >
              {{item.nombre}}
            </td>
            <td [ngStyle]="{'border-top':item.tipo==='food'?'5px solid rgb(195, 196, 197)':'',
              'border-bottom':item.tipo==='food'?'1px solid rgb(195, 196, 197)':'','text-align': 'center'}"
            >
            {{item.precio}}
            </td>
            <td [ngStyle]="{'border-top':item.tipo==='food'?'5px solid rgb(195, 196, 197)':'',
              'border-bottom':item.tipo==='food'?'1px solid rgb(195, 196, 197)':'','text-align': 'center'}"
            >
            {{item.medida}}
            </td>
            <td [ngStyle]="{'border-top':item.tipo==='food'?'5px solid rgb(195, 196, 197)':'',
              'border-bottom':item.tipo==='food'?'1px solid rgb(195, 196, 197)':'','text-align': 'center'}"
            >
              <ion-button (click)="(item.tipo==='food')?removeFood(item.idFood):removeSize(item.idFood,item.idSize)" 
                mode="ios" size="small" color="noColor">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
            </td>
          </tr>
        </tbody>
      </table>
    </ion-col>
    
    

    <!-- Botones de cancelar y guardar -->
    <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="12" size-xl="12" class="btns">
      <ion-row>
        <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="6" size-xl="6">
          <button class="btnFormCancelar" (click)="cancel()">Cancelar</button>  
        </ion-col>
        <ion-col size-xs="6" size-sm="6" size-md="6" size-lg="6" size-xl="6">
          <button class="btnForm" (click)="clickSaveEdit()">Guardar</button>  
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-grid>
