.inputForm{
  border: 0;
  border-radius: 4px;
  font-size: 18px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #e8eeef;
  color: #8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 15px;
}
.btns{
  position: sticky;
  bottom: 0px;
  z-index: 2;
}
.btnForm{
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  color: #FFF;
  margin: 0 auto;
  background: #1abc9c;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid #16a085;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}
.btnFormCancelar{
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  color: #DB2B30 ;
  margin: 0 auto;
  background: white;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border: 1px solid #8a97a0;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  bottom: 250px;
}
.number {
  background: #1abc9c;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: .8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 15px 15px 15px 0;
}
legend {
  font-size: 1.4em;
  margin-bottom: 10px;
  border: 0;
}
// TABLA
.tablePlatillos{
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 10px;
}
.tablePlatillos * {
  position: relative;
}
.tablePlatillos thead tr {
  height: 60px;
  background: #e8eeef;
}
.tablePlatillos thead tr th {
  font-size: 18px;
  color: #8a97a0;
  line-height: 1.2;
  font-weight: unset;
}
.tablePlatillos tbody tr {
  height: 50px;
}
.tablePlatillos tbody tr {
  font-size: 15px;
  color: #555f66;
  line-height: 1.2;
  font-weight: unset;
  // border-bottom: 1px solid #e8eeef;
}
.tablePlatillos td, .tablePlatillos th {
  padding-left: 8px;
}
.tablePlatillos tbody {
  display: block;
  max-height: 300px;
  overflow-y: scroll;
}

.tablePlatillos thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
.btnAddToTable{
  color: #FFF;
  background: #1abc9c;
  border: 1px solid #16a085;
  border-width: 1px 1px 3px;
  padding-top: 11px;
  padding-bottom: 11px;
  width: 100%;
}