<ion-header>
  <ion-toolbar>
    <ion-button color="noColor" mode="ios" size="small" (click)="atras()" *ngIf="showComponentShop==='menu'">
      <ion-icon slot="icon-only" src="../../assets/left-arrow.svg"></ion-icon>
    </ion-button>
    <ion-title *ngIf="showComponentShop!='menu'">Tienda</ion-title>
  </ion-toolbar>
</ion-header>
<mat-form-field>
  <mat-select [(value)]="select">
    <mat-option>None</mat-option>
    <mat-option value="option1">Option 1</mat-option>
    <mat-option value="option2">Option 2</mat-option>
    <mat-option value="option3">Option 3</mat-option>
  </mat-select>
</mat-form-field>
<ion-content>
  
  <list-shop *ngIf="showComponentShop==='shop'"></list-shop>
  <menu-shop *ngIf="showComponentShop==='menu'"></menu-shop>
  <view-menu style="position: absolute;top: 0;left: 50%;" *ngIf="showViewMenu"></view-menu>

</ion-content>
