@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.ion-color-noColor {
  --ion-color-base: var(--ion-color-noColor) !important;
  --ion-color-base-rgb: var(--ion-color-noColor-rgb) !important;
  --ion-color-contrast: var(--ion-color-noColor-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-noColor-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-noColor-shade) !important;
  --ion-color-tint: var(--ion-color-noColor-tint) !important;
}
.ion-color-facebookColor {
  --ion-color-base: var(--ion-color-facebookColor) !important;
  --ion-color-base-rgb: var(--ion-color-facebookColor-rgb) !important;
  --ion-color-contrast: var(--ion-color-facebookColor-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-facebookColor-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-facebookColor-shade) !important;
  --ion-color-tint: var(--ion-color-facebookColor-tint) !important;
}
.ion-color-googleColor {
  --ion-color-base: var(--ion-color-googleColor) !important;
  --ion-color-base-rgb: var(--ion-color-googleColor-rgb) !important;
  --ion-color-contrast: var(--ion-color-googleColor-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-googleColor-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-googleColor-shade) !important;
  --ion-color-tint: var(--ion-color-googleColor-tint) !important;
}
@font-face {
  font-family: 'Helvetica-Bold';
  src: url('./assets/font/Helvetica-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica-BoldOblique';
  src: url('./assets/font/Helvetica-BoldOblique.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica-Oblique';
  src: url('./assets/font/Helvetica-Oblique.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('./assets/font/Helvetica.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: 'Helvetica' !important;
}

@-webkit-keyframes autofill {
  to {
      color: #666;
      background: transparent;
  }
}
input:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}